{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}
    <h1 style="text-align: center;">Common page for all</h1>
    {% if request.user.is_authenticated %}
        {% if request.user.is_staff %}
        
        {% else %}
        {% trans 'Your username is' %} <b>{{ request.user.username }}</b>.
        
        {% endif %}
    {% else %}

        {% trans 'You are a guest.' %}
        <p style="font-size:200%;
        color:CadetBlue;text-align:center; height:5%">At this time and age, we see that face recognition <br/> is used in various streams and platforms.<br/> We have set out with an objective <br/>
​"TO CREATE A ROBUST AND EFFICIENT FACE RECOGNITION TO FIND PEOPLE MISSING OR LOST"  </p>
    {% endif %}

    <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural<br/> lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural <br/>lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural <br/>lead-in to additional content.</p>
              </div>
            </div>
          </div>
      </div>

{% endblock %}
