{% extends 'layouts/default/page.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
    {% if request.user.is_authenticated %}
    <div class="table-responsive" style="margin: auto; width:95%;">
        <table class="table table-sm">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">User ID</th>
                <th scope="col">User Name</th>
                <th scope="col">Email ID</th>
                <th scope="col">Cases Filed</th>
                <th scope="col">People Found</th>
              </tr>
            </thead>
            <tbody>
                {% for x in users %}
              <tr>
                <th scope="row">{{ x.id }}</th>
                <td>{{ x.username }}</td>
                <td>{{ x.first_name }} {{ x.last_name }}</td>
                <td>{{ x.email }}</td>
                <td>
                {% for m in missing %}
                    {% if m.user_id == x.id %}
                    
                    <table>
                    <tr>
                    <td>{{m.img_id}}</td>
                    <td>{{m.status}}</td></tr></table>
                    
                {% endif %}
                {% endfor %}
                
                </td>
                <td>
                {% for f in found %}
                    {% if f.user_id == x.username %}
                <table><tr><td>{{f.img_id}}</td>
                <td>{{f.found_at}}</td></tr></table>
                {% endif %}
                {% endfor %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
        
    {% endif %}

{% endblock %}